body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.weather-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("./Asset/starshower.jpg") no-repeat center center fixed;
    background-size: cover;
}

#city-input {
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-color: goldenrod;
    border-bottom-width: 4px;
}

#weather-display {
    text-align: center;
    color: white;
    margin-top: 24px;
}

#city-name {
    font-size: 32px;
}

#date {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
}

#temperature {
    font-size: 64px;
    font-weight: bold;
    margin: 32px 0;
}

#weather-description {
    font-size: 20px;
    font-style: italic;
}
